.content {
  clear: fix;
  margin: 50px;
  padding: 50px 50px 0;
}

.header {
  grid-column: 1/3;
  color: red;
}

.description {
  grid-column: 2/3 !last;
  color: red
}

.button {
  background-color: red;
}
