//===============================================================================
// VARIABLES
//===============================================================================
// Colours
$paper: white;
$ink: #263238;

$teal: #00acc1;
$blue: #4561fe;
$pink: #e91e63;
$orange: #ff5722;
$grey: darken(#eceff1, 50);
$light-grey: #eceff1;

$primary: $pink;


// Typography
$base-font-size: 14px;
$body-weight: 400;
$sans-serif: 'Roboto', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

$tera: 72px;
$giga: 60px;
$mega: 48px;
$alpha: 36px;
$beta: 24px;
$gamma: 18px;
$delta: 16px;
$epsilon: 14px;
$zeta: 12px;