//===============================================================================
// HEADER
//===============================================================================
.gbl-logo {
	position: fixed;
	top: 30px;
	left: 25px;
	z-index: 10;

	img {
		height: 35px;
	}
}