//===============================================================================
// HEADER
//===============================================================================
.gbl-logo {
	position: fixed;
	top: 30px;
	left: 25px;
	z-index: 10;

  @media screen and (max-width: 500px) {
    left: 20px;
  }

	img {
		height: 35px;
	}
}