// @include clearfix;
@mixin clearfix {
  clear: both;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// @include hide-text;
@mixin hide-text {
  overflow: hidden;

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
  }
}