// Karla
@import url(http://fonts.googleapis.com/css?family=Karla:400,700);

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, blockquote, pre, button {
  margin: 0 0 20px 0;
}

// Fonts
.tera    { font-size: $tera; }
.giga    { font-size: $giga; }
.mega    { font-size: $mega; }
.alpha   { font-size: $alpha; }
.beta    { font-size: $beta; }
.gamma   { font-size: $gamma; }
.delta   { font-size: $delta; }
.epsilon { font-size: $epsilon; }
.zeta    { font-size: $zeta; }

// Headings
h1, h2, h3, h4, h5, h6 {
  font-weight: $body-weight;
}

h1, h2 {
  line-height: 1.1;
}

h1 {
  font-size: $mega;
}

h2 {
  font-size: $alpha;
  letter-spacing: -1px;
}

h3 {
  font-size: $beta;
  line-height: 1.2;
}

h4 {
  font-size: $delta;
  font-weight: $bold;
  color: rgba($primary, 0.5);
}

h5, h6 {
  font-size: $base-font-size + 2px;

  @media screen and ( min-width: $small ) {
    font-size: $base-font-size;
  }
}

h5 {
  color: rgba($primary, 0.5);
}

strong {
  font-weight: 600;
}


// Lists
ol {
  padding-left: 1.4em;

  ol, ol ol {
    margin-bottom: 0;
  }
}

ul {
  padding: 0;
  list-style: none;

  ul, ul ul {
    margin-bottom: 0;
  }
}

// Images
img {
  max-width: 100%;
}

// Links
a {
  color: $primary;
  text-decoration: none;

  &:hover, &.hover {
    cursor: pointer;
    color: $primary;
  }

  &:active, &.active {
    color: darken($primary, 10);
  }

  // &:visited,
  &.visited {
    color: darken($ink, 15);
  }
}