// Colours
$blue: #0327d0;
$light-blue: #e6e8fa;
$primary: $blue;
$ink: $blue;

// Typography
$tera: 72px;
$giga: 60px;
$mega: 48px;
$alpha: 34px;
$beta: 24px;
$gamma: 18px;
$delta: 16px;
$epsilon: 14px;
$zeta: 12px;

$base-font-size: $epsilon;
$regular: 400;
$bold: 700;
$body-weight: $regular;
$sans: 'Karla', Helvetica, sans-serif; 

// Layout
$large: 1000px;
$small: 500px;
$gutter: 20px;