//===============================================================================
// HOME
//===============================================================================
.home {
	width: 1750px;

  @media screen and (max-width: 500px) {
    width: 100%;
  }
}

.cv-block-item {
  border-bottom: 4px solid darken($light-grey, 5);
  padding-bottom: 60px;
  margin-bottom: 60px;

  &:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 20px;
  }
}

.col-1-1, .col-2-3 {
  padding-left: 0;
}

.home-intro-block {
  background: $teal;
  box-shadow: inset -3px 0 7px -2px darken($teal, 10);
  color: $paper;
  width: 500px;
  padding-right: 50px;

  @media screen and (max-width: 500px) {
    box-shadow: inset 0 -5px 3px -3px darken($teal, 10);
  }

  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  &::-webkit-scrollbar:horizontal  {
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: darken($teal, 7);
    -webkit-border-radius: 0;
  }
  &::-webkit-scrollbar-thumb:vertical, &::-webkit-scrollbar-thumb:horizontal {
    background-color: darken($teal, 15);
    -webkit-border-radius: 0;
  }

  .block-inner {
    position: fixed;
    width: 450px;
    z-index: 1;

    @media screen and (max-width: 500px) {
      position: relative;
      width: auto;
    }
  }

  .home-intro-bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 600px;

    @media screen and (max-width: 500px) {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  @media screen and (max-width: 500px) {
    width: 100%;
    padding-right: 0;
    padding-top: 60px;
  }

  h2 {
    margin-bottom: 30px;
    letter-spacing: -0.5px;
    font-size: $beta;
  }

  p {
    color: rgba($paper, 0.8);
    line-height: 1.4;
  }

  a {
    margin-top: 60px;
    display: table;
  }
}

.home-cv-block {
  background-color: $light-grey;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: $light-grey;
    -webkit-border-radius: 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: darken($light-grey, 10);
    border: 3px solid $light-grey;
    -webkit-border-radius: 10px;
  }

  .col-1-3 {
    padding-right: 10px;
    padding-left: 30px;

    @media screen and (max-width: 500px) {
      padding-left: 0;
      padding-right: 0;
    }

    &:first-of-type {
      padding-left: 0;
      padding-right: 30px;

      @media screen and (max-width: 500px) {
        padding-right: 0;
      }
    }
  }

  .cv-edu-item {

    @media screen and (max-width: 500px) {
      margin-bottom: 0;
    }

    .col-1-3 {
      padding-left: 0;

      @media screen and (max-width: 500px) {
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;

          h6 {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  h2 {
    margin-bottom: 60px;
    color: $primary;

    @media screen and (max-width: 500px) {
      margin-bottom: 30px;
    }
  }

  h3 {
    margin-bottom: 30px;
  }

  h4 {
    margin-bottom: 5px;

    @media screen and (max-width: 500px) {
      margin-bottom: 2px;
    }
  }

  h5 {
    color: $grey;
    margin-bottom: 5px;

    span {
      color: lighten($grey, 30);
      display: block;
    }
  }

  h6 {
    color: $primary;
    margin-bottom: 2px;

    @media screen and (max-width: 500px) {

      &:last-of-type {
        margin-bottom: 15px;
      }
    }
  }

  p {
    color: $grey;
    font-size: 12px;
    line-height: 1.5;

    @media screen and (max-width: 500px) {
      font-size: 14px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.cv-work-item {
  @include clearfix;
  padding-bottom: 40px;
  display: block;

  &:last-of-type {
    padding-bottom: 0;
  }
  @media screen and (max-width: 500px) {
    [class*='col-'] {
      padding-right: 0;
    }
  }
}

.home-contact-block {
  background-color: $paper;
  width: 450px;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: white;
    -webkit-border-radius: 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: darken($light-grey, 10);
    border: 3px solid white;
    -webkit-border-radius: 10px;
  }

  @media screen and (max-width: 500px) {
    width: 100%;
    padding-bottom: 0px;
  }

  .block-inner {
    @media screen and (max-width: 500px) {
      padding-bottom: 30px;
    }
  }

  h2 {
    color: $primary;
    margin-bottom: 60px;

    @media screen and (max-width: 500px) {
      margin-bottom: 30px;
    }
  }
}

.home-contact-list-item {
  margin-bottom: 40px;

  @media screen and (max-width: 500px) {
    margin-bottom: 20px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  h5 {
    margin-bottom: 0;
    color: lighten($grey, 10);
  }

  a {
    font-size: $beta;

    @media screen and (max-width: 500px) {
      font-size: 16px;
    }
  }
}