.home {
	width: 1750px;

  @media screen and (max-width: $small) {
    width: 100%;
  }
}

.intro {
  background: $primary;
  font-size: $gamma;
  box-shadow: inset -3px 0 7px -2px rgba(black, 0.3);
  color: white;
  width: $small;

  @media screen and (max-width: $small) {
    box-shadow: inset 0 -5px 3px -3px rgba(black, 0.3);
    width: 100%;
    padding-right: 0;
    padding-top: 40px;
  }

  .block-inner {
    position: fixed;
    width: $small;
    padding-right: 50px;
    z-index: 1;

    @media screen and (max-width: $small) {
      position: relative;
      width: auto;
      padding-right: 20px;
    }

    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: $primary;
      -webkit-border-radius: 0;
    }

    &::-webkit-scrollbar-thumb {
      background-color: lighten($primary, 30);
      border: 3px solid $primary;
      -webkit-border-radius: 0;

      &:hover {
        background-color: white;
      }
    }
  }

  h2 {
    margin-bottom: 30px;  

    @media screen and (max-width: $small) {
      font-size: $alpha - 4px;
    }
  }

  p {
    color: rgba(white, 0.8);
  }

  a {
    color: rgba(white, 0.5);
    margin-top: 60px;
    margin-bottom: 30px;
    display: table;

    @media screen and (max-width: $small) {
      margin-top: 30px;
      margin-bottom: 0;
    }

    &:hover {
      color: rgba(white, 0.7);
    }
  }
}

.cv {
  background-color: $light-blue;

  .col-1-3 {
    padding-right: 10px;
    padding-left: 30px;

    @media screen and (max-width: $small) {
      padding-left: 0;
      padding-right: 0;
    }

    &:first-of-type {
      padding-left: 0;
      padding-right: 30px;

      @media screen and (max-width: $small) {
        padding-right: 0;
      }
    }
  }

  .cv-edu-item {
    @media screen and (max-width: $small) {
      margin-bottom: 0;
    }

    .col-1-3 {
      padding-left: 0;

      @media screen and (max-width: $small) {
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;

          h6 {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  h2 {
    margin-bottom: 60px;

    @media screen and (max-width: $small) {
      margin-bottom: 30px;
    }
  }

  h3 {
    margin-bottom: 30px;
  }

  h4 {
    color: $primary;
    margin-bottom: 5px;
  }

  h5 {
    margin-bottom: 5px;

    span {
      display: block;
    }
  }

  h6 {
    margin-bottom: 2px;

    small {
      visibility: hidden;
    }

    @media screen and (max-width: $small) {
      &:last-of-type {
        margin-bottom: 15px;
      }
    }
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

.cv-item {
  border-bottom: 4px solid rgba($primary, 0.07);
  padding-bottom: 60px;
  margin-bottom: 60px;

  &:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 20px;
  }
}

.col-1-1, .col-2-3 {
  padding-left: 0;
}

.cv-work-item {
  @include clearfix;
  padding-bottom: 40px;
  display: block;

  &:last-of-type {
    padding-bottom: 0;
  }

  @media screen and (max-width: $small) {
    [class*='col-'] {
      padding-right: 0;
    }
  }
}

.contact {
  width: 450px;

  @media screen and (max-width: $small) {
    width: 100%;
    padding-bottom: 0;
  }

  &::-webkit-scrollbar-track {
    background-color: white;
  }

  &::-webkit-scrollbar-thumb {
    border-color: white;
  }

  .block-inner {
    padding-bottom: 0;
  }

  h2 {
    margin-bottom: 60px;

    @media screen and (max-width: $small) {
      margin-bottom: 30px;
    }
  }

  li {
    margin-bottom: 40px;

    @media screen and (max-width: $small) {f
      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      font-size: $beta;
      padding-bottom: 5px;
      border-bottom: 2px solid rgba($primary, 0.1);

      &:hover {
        border-color: rgba($primary, 0.3);
      }
    }

    h5 {
      margin-bottom: 0;
    }
  }
}