body{
	width: 7850px;
}
body{
	width: 5670px\0/;
}
.univents .hero-wrap{
	background-color: #1aa5cb; 
}
.univents .about-wrap img{
	padding: 40px 0 30px 30px;
}
.univents-details-wrap{
	width: 1100px;
	background: #eaf6fa url(univents-bg.png) center no-repeat;
	background-image: url(univents-bg.svg),none;
	-webkit-background-size: 1300px 1300px;
	-moz-background-size: 1300px 1300px;
	-o-background-size: 1300px 1300px;
	background-size: 1300px 1300px;
}
.univents-menu-phone{
	margin-top: -30px;
	margin-left: 0;
}
.univents-menu-phone.hidden-phone{
	display: inline-block!important;
}
.univents-details-wrap ul{
	margin-top: 30px;
}
.univents-details-wrap li{
	margin-bottom: 30px;
	display: block;
	padding-top: 43px;
	-webkit-background-size: 35px 35px;
	-moz-background-size: 35px 35px;
	-o-background-size: 35px 35px;
	background-size: 35px 35px;
}
.univents-details-left{
	text-align: right;
	margin-left: 6%;
}
.univents-details-left li{
	padding-left: 0;
	margin-bottom: 50px;
}
.univents-details-right{
	margin-left: 0;	
}
.univents-details-right li{
	padding-right: 0;
}
.univents-details-wrap h3{
	margin-bottom: 5px;
}
.univents-activity{
	background: url(univents-activity.png) top right no-repeat;
	background-image: url(univents-activity.svg),none;
}
.univents-events{
	background: url(univents-events.png) top right no-repeat;
	background-image: url(univents-events.svg),none;
}
.univents-groups{
	background: url(univents-groups.png) top left no-repeat;
	background-image: url(univents-groups.svg),none;
}
.univents-profile{
	background: url(univents-profile.png) top left no-repeat;
	background-image: url(univents-profile.svg),none;
}
.univents-discover{
	background: url(univents-discover.png) top left no-repeat;
	background-image: url(univents-discover.svg),none;
}
.univents-home-wrap{
	width: 750px;
	background: #eaf6fa url(univents-bg.png) center no-repeat;
	background-image: url(univents-bg.svg),none;
	-webkit-background-size: 1000px 1000px;
	-moz-background-size: 1000px 1000px;
	-o-background-size: 1000px 1000px;
	background-size: 1000px 1000px;
}
.univents-home-wrap .container{
	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
}
.univents-home-wrap img{
	margin-top: 10px;
	width: 700px;
	position: relative;
}
.univents-home-wrap h3, .univents-home-wrap h4{
	margin-left: 45px;
}
.univents-home-wrap .btn-more{
	margin-left: 45px;
	margin-top: 30px;
	margin-bottom: 20px;
}
.univents-slider-wrap{
	padding-bottom: 0;
}
.univents-slider-wrap .container{
	padding: 0;
}
.univents-slider-wrap h4{
	padding: 0 35px;
}
.univents-slider-wrap .slider{
	margin-top: -30px;
	height: 500px;
	margin-right: 0;
}
.univents-slider-wrap .slider a.control_prev:hover, .univents-slider-wrap .slider a.control_next:hover{
	opacity: 1;
	-webkit-animation: none;
	-moz-animation: none;
	-animation: none;
}
.univents-slider-wrap .slider a.control_prev{
	margin: 10px;
}
.univents-slider-wrap .slider a.control_next{
	margin: 10px 5px 10px 10px;
}
.univents-slider-wrap .slider li{
	height: 600px;
}
.univents-slider-wrap .slider img{
	height: 100%;
}
.univents-logogrid-wrap{
	width: 800px;
	background: #eaf6fa url(univents-logo-grid.png) center no-repeat;
	background-image: url(univents-logo-grid.svg),none;
	-webkit-background-size: 1300px 1300px;
	-moz-background-size: 1300px 1300px;
	-o-background-size: 1300px 1300px;
	background-size: 1300px 1300px;
}

.univents-logo-wrap{
	width: 600px;
}
.univents-logo-1{
	height: 280px;
	background: #1aa5ca url(univents-logo-1.png) center no-repeat;
	background-image: url(univents-logo-1.svg), none;
	-webkit-background-size: 70%;
	-moz-background-size: 70%;
	-o-background-size: 70%;
	background-size: 70%;
	margin-bottom: 10px;
}
.univents-logo-2{
	height: 280px;
	background: #eaf6fa url(univents-logo-2.png) center no-repeat;
	background-image: url(univents-logo-2.svg), none;
	-webkit-background-size: 70%;
	-moz-background-size: 70%;
	-o-background-size: 70%;
	background-size: 70%;
	margin-bottom: 40px;
}

/* ========= iPhone Styles ========= */
@media screen and (max-width: 650px) {
	.univents .about-wrap img{
		padding: 30px 0;
	}
	.univents-details-left{
		text-align: left;
		padding-top: 30px;
	}
	.univents .univents-slider-wrap{
		display: none;
	}
	.univents-details-wrap ul{
		margin: 0;
	}
	.univents-details-wrap li{
		background-position: top left;
		padding: 0 0 0 55px;
		margin-bottom: 50px;
	}
	.univents-home-wrap img{
		position: relative;
	}
	.univents-home-wrap h3, .univents-home-wrap h4{
		margin-left: 20px;
	}
	.univents-home-wrap .btn-more{
		margin-top: 30px;
		margin-bottom: 30px;
		margin-left: 20px;
		display: table;
	}
	.univents-menu-phone.hidden-phone{
		display: none!important;
	}
	.univents .univents-home-wrap{
		overflow: hidden;
	}
	.wrap.univents-logogrid-wrap{
		height: 500px;
	}
	.univents-logo-1, .univents-logo-2{
		height: 200px;
		margin-bottom: 20px;
	}
}