.content {
  padding-top: 140px;
  padding-bottom: 50px;
  color: black;
}

.headline {
  font-size: $giga;
  line-height: 1;
  margin-bottom: 40px;
}

.description {
  font-size: $beta;
  margin-bottom: 30px;
}

.button {
  margin: 60px 0 30px;
  color: black;

  &:hover {
    color: white;
  }
}
