~type: "../app/constants.js";
~color: "../app/constants.js";

body {
  background-color: ~color.blue;
  font-size: ~type.delta;
  font-weight: ~type.regular;
  font-family: ~type.sans;
  line-height: 1.3;
  margin: 0;
}

.container {
  display: block;
}
