body{
	width: 6400px;
}
.typespec .hero-wrap{
	background: #fad200 url(../../../assets/img/intro-bg-bk-2.svg);
	background-attachment: scroll;
	color: #000;
}
.safari .typespec .hero-wrap{
	background-attachment: fixed;
}
.typespec .hero-wrap .grid{
	overflow-x: hidden;
}
.typespec .hero-wrap h1{
	color: #000;
}
.typespec .about-wrap img{
	margin-top: 60px;
	padding-left: 30px;
}
.typespec-inspire-wrap{
	background: #000 url(../../../assets/img/intro-bg-wh-2.svg);
	width: 1000px;
	color: #fff;
}
.typespec-inspire-wrap .two-of-three{
	margin-top: -60px;
}
.typespec-inspire-wrap img{
	padding-left: 80px;
	padding-right: 40px;
	padding-bottom: 10px;
}
.typespec-horizontal-wrap{
	width: 1500px;
	background-color: #eee;
	background-image: linear-gradient(0deg, transparent 0%, transparent 9px, rgba(210,210,210, 0.2) 9px, rgba(210,210,210, 0.2) 10px, transparent 10px, transparent 19px, rgba(210,210,210, 0.1) 19px, rgba(210,210,210, 0.1) 20px, transparent 20px, transparent 29px, rgba(210,210,210, 0.1) 29px, rgba(210,210,210, 0.1) 30px, transparent 30px, transparent 39px, rgba(210,210,210, 0.1) 39px, rgba(210,210,210, 0.1) 40px, transparent 40px, transparent 49px, rgba(210,210,210, 0.1) 49px, rgba(210,210,210, 0.1) 50px), linear-gradient(-90deg, transparent 0%, transparent 9px, rgba(210,210,210, 0.2) 9px, rgba(210,210,210, 0.2) 10px, transparent 10px, transparent 19px, rgba(210,210,210, 0.1) 19px, rgba(210,210,210, 0.1) 20px, transparent 20px, transparent 29px, rgba(210,210,210, 0.1) 29px, rgba(210,210,210, 0.1) 30px, transparent 30px, transparent 39px, rgba(210,210,210, 0.1) 39px, rgba(210,210,210, 0.1) 40px, transparent 40px, transparent 49px, rgba(210,210,210, 0.1) 49px, rgba(210,210,210, 0.1) 50px);
	  background-size: 50px 50px;
}
.typespec-horizontal-wrap .container{
	padding: 0;
}
.typespec-horizontal-wrap img{
	width: 100%;
}
.typespec-horizontal-wrap h4{
	padding-left: 28px;
}
.typespec-horizontal-wrap h3{
	margin-left: 75px;
	margin-right: -50px;
	font-weight: 400;
	color: #999;
}
.typespec-horizontal-wrap h3:hover{
	color: #000;
	cursor: pointer;
}
.typespec-horizontal-wrap h3.active{
	font-weight: 600;
	color: #000;
}
.typespec-horizontal-wrap .btn-more{
	margin-left: 75px;
}
.typespec-horizontal-wrap .typespec-es, .typespec-horizontal-wrap .typespec-tg{
	margin-top: 10px;
}
.typespec-horizontal-wrap .typespec-es{
	display: none;
}

/* ========= iPhone Styles ========= */
@media screen and (max-width: 650px) {
	.typespec .hero-wrap .btn, .typespec .typespec-horizontal-wrap .btn{
		display: none;
	}
	.typespec .about-wrap img{
		padding-left: 0;
		margin: 30px 0 20px;
	}
	.typespec-inspire-wrap .two-of-three{
		margin: 10px 0 0;
	}
	.typespec-inspire-wrap img{
		padding: 0 0 20px;
	}
	.typespec-horizontal-wrap{
		overflow: hidden!important;
	}
	.typespec-horizontal-wrap h4{
		padding-left: 20px;
	}
	.typespec-horizontal-wrap h3{
		display: inline-block;
		margin-left: 20px;
		margin-right: 0;
		margin-bottom: 10px;
		font-size: 1.25em;
	}
	.typespec-horizontal-wrap .btn{
		margin-left: 20px;
		margin-bottom: 20px;
		display: table;
	}
}