body{
	width: 4800px;
}
.mino .img-wrap .img-wrap-content{
	background-position: right;
}
.mino .hero-wrap{
	background: #005aaf url(../../../assets/img/intro-bg-bk.svg);
	background-attachment: scroll;
}
.safari .mino .hero-wrap{
	background-attachment: fixed;
}
.mino .about-wrap{
	width: 1000px;
}
.mino-abc{
	background: url(mino-abc.png) center no-repeat;
	background-image: url(mino-abc.svg), none;
	height: 500px;
}
.mino-grid-wrap{
	width: 700px;
}
.mino-grid-wrap{
	background: #f096b4 url(mino-logo.png) no-repeat center 180px;
	background-image: url(mino-logo.svg),none;
	background-attachment: scroll;
	-webkit-background-size: 900px;
	-moz-background-size: 900px;
	-o-background-size: 900px;
	background-size: 900px;
}
.safari .mino-grid-wrap{
	background-attachment: fixed;
}
.mino-grid-wrap:before{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	min-height: 100%;
	width: 100%;
	background: url(../../../assets/img/intro-bg-wh-2.svg);
	background-attachment: scroll;
}
.safari .mino-grid-wrap:before{
	background-attachment: fixed;
}
.mino-compared-wrap{
	width: 800px;
	background: #000 url(../../../assets/img/intro-bg-wh-3.svg);
	background-attachment: scroll;
	color: #fff;
}
.mino-compared-wrap h3{
	margin-left: 20px;
	margin-right: 0px;
	font-weight: 400;
	color: #999;
}
.mino-compared-wrap h3:hover{
	color: #fff;
	cursor: pointer;
}
.mino-compared-wrap h3.active{
	font-weight: 600;
	color: #fff;
}
.mino-compared-wrap .mino-type{
	width: 90%;
	height: 500px;
	margin-top: 50px;
	margin-left: 6.5%;
}
.mino-compared-wrap .mino-grid{
	background: url(mino-grid.png) no-repeat center;
	background-image: url(mino-grid.svg),none;
}
.mino-compared-wrap .mino-preview{
	background: url(mino-preview.png) no-repeat center;
	background-image: url(mino-preview.svg),none;
	display: none;
}

/* ========= iPhone Styles ========= */
@media screen and (max-width: 650px) {
	.mino-grid-wrap{
		-webkit-background-size: 90%;
		-moz-background-size: 90%;
		-o-background-size: 90%;
		background-size: 90%;
		background-position: center 100px;
		height: 340px;
	}
	.mino-abc{
		height: 400px;
	}
	.mino-compared-wrap h3{
		display: inline-block;
		margin-left: 0;
		margin-right: 20px;
		margin-bottom: 10px;
	}
	.mino-compared-wrap .mino-type{
		margin-top: 0;
		height: 350px;
		margin-left: 4%;
	}
}