*, *::before, *::after {
  box-sizing: border-box;
  text-rendering: optimizeSpeed;
  padding: 0;
  margin: 0;
}

body {
  font-family: $fontSans;
  line-height: 1.3;
}

:global(#container) {
  width: 100%;
}
