*, *::before, *::after {
  box-sizing: border-box;
  text-rendering: optimizeSpeed;
  padding: 0;
  margin: 0;
}

body {
  font-family: $fontMono;
  line-height: 1.3;
}

:global .container {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: $maxWidth;
  padding-left: $gutter;
  padding-right: $gutter;
}

a {
  color: inherit;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 2px solid;
}
